@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src: local("Cuprum"), url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src: url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

body {
  margin: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-header {
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 24px;
  padding-top: 25px;
  padding-bottom: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f9f5f0;
}

.section-header-heading {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  vertical-align: middle;
  color: #32425c;
}

.section-header-link {
  width: 253px;
}

.section-heading {
  margin: 0;
  margin-bottom: 27px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-description {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  padding: 10px 20px;
  margin: 0;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: #ca2c37;
  color: #ffffff;
}

.button:active {
  background-color: #ba2732;
  color: #ffffff;
}

.products-buy {
  position: relative;
  display: none;
  width: 135px;
  margin-top: 43px;
  margin-bottom: 8px;
  margin-left: 41px;
  padding-bottom: 7px;
  padding-left: 48px;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  text-align: left;
}

.products-buy:hover,
.products-buy:focus {
  background-color: #5fbb2d;
}

.products-buy:active {
  background-color: #518534;
  border-bottom: 3px solid #518534;
}

.products-buy::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 14px;
  width: 16px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.products-buy:hover::before,
.products-buy:focus::before,
.products-buy:active::before {
  opacity: 1;
}

.products-inbookmarks {
  display: none;
  margin-left: 41px;
  margin-bottom: 51px;
  padding-top: 7px;
  padding-bottom: 7px;
  width: 135px;
  border: 3px solid #63a63e;
  color: #32425c;
  background-color: #ffffff;
}

.products-inbookmarks:hover,
.products-inbookmarks:focus {
  background-color: #ffffff;
  border-color: #32425c;
  color: #32425c;
}

.products-inbookmarks:active {
  border-color: rgba(50, 66, 92, 0.3);
  color: rgba(50, 66, 92, 0.3);
}

.new-tip::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 7px;
  right: -25px;
  width: 85px;
  height: 24px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  /*padding-top: 2px;*/
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  text-align: center;
  content: "new";
  background-color: #ee3643;
}

.main-header {
  margin-bottom: 59px;
}

.header-top {
  font-size: 17px;
  color: #ffffff;
  background-color: #293449;
}

.header-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-logo {
  box-sizing: border-box;
  width: 220px;
  height: 42px;
  padding: 12px 55px;
  background-color: #ee3643;
  -webkit-box-shadow: 0 5px 0 0 #b52933;
  box-shadow: 0 5px 0 0 #b52933;
}

.header-logo[href="index.html"]:hover,
.header-logo:focus {
  background-color: #ca2c37;
  -webkit-box-shadow: 0 5px 0 0 #9a212a;
  box-shadow: 0 5px 0 0 #9a212a;
}

.header-logo[href="index.html"]:active {
  background-color: #ba2732;
  -webkit-box-shadow: 0 5px 0 0 #8e1e26;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.header-search {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header-search input {
  width: 100%;
  padding: 12px 10px;
  padding-left: 49px;
  border: none;
  font: inherit;
  color: #000000;
  background-color: transparent;
  background-image: url("../img/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 16px 12px;
  outline: none;
}

.header-search input:hover {
  background-color: #212a3a;
  background-image: url("../img/icon-search-hover.svg");
}

.header-search input:focus {
  background-color: #ffffff;
  outline: none;
  background-image: url("../img/icon-search-active.svg");
}

.header-search input[type="search"]::-ms-clear,
.header-search input[type="search"]::-ms-reveal {
  display: none;
}

.header-search input[type="search"]::-webkit-search-decoration,
.header-search input[type="search"]::-webkit-search-cancel-button,
.header-search input[type="search"]::-webkit-search-results-button,
.header-search input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.header-search input::-webkit-input-placeholder {
  color: #ffffff;
}

.header-search input:-ms-input-placeholder {
  color: #ffffff;
}

.header-search input::-ms-input-placeholder {
  color: #ffffff;
}

.header-search input::placeholder {
  color: #ffffff;
}

.user-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  max-width: 455px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-navigation-item {
  position: relative;
  display: block;
  line-height: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 44px;
  padding-right: 15px;
}

.header-bookmarks {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
}

.header-bookmarks::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 17px;
  width: 14px;
  height: 16px;
  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-cart {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  padding-left: 50px;
}

.header-cart::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 18px;
  width: 16px;
  height: 15px;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-bookmarks:hover,
.header-bookmarks:focus,
.header-cart:hover,
.header-cart:focus {
  background-color: #212a3a;
}

.header-bookmarks:hover::before,
.header-bookmarks:focus::before,
.header-cart:hover::before,
.header-cart:focus::before {
  opacity: 1;
}

.header-bookmarks:active,
.header-cart:active {
  background-color: #161d29;
  color: rgba(255, 255, 255, 0.6);
}

.header-bookmarks:active::before,
.header-cart:active::before {
  opacity: 0.5;
}

.header-checkout {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 150px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  background-color: #63a63e;
}

.header-checkout:hover,
.header-checkout:focus {
  background-color: #5fbb2d;
}

.header-checkout:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.header-bottom {
  background-color: #f3f7f9;
  padding-top: 46px;
  padding-bottom: 60px;
}

.header-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.header-description {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 250px;
  margin: 0;
  margin-top: 2px;
  margin-right: 70px;
  padding-left: 52px;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
  font-style: italic;
}

.header-info {
  width: 270px;
}

.header-phone {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 270px;
  margin-bottom: 4px;
  border: 2px solid #ffffff;
  padding: 10px 15px;
  padding-left: 70px;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.header-phone::before {
  position: absolute;
  top: 11px;
  left: 14px;
  width: 18px;
  height: 19px;
  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.header-address {
  margin: 0;
  padding-left: 10px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.header-person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  max-width: 300px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-size: 21px;
  line-height: 21px;
  list-style: none;
}

.header-enter,
.header-reg,
.header-person-name {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 12px 15px;
  background-color: #ffffff;
}

.header-enter {
  position: relative;
  width: 121px;
  padding-left: 48px;
  margin-right: 10px;
}

.header-enter::before {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 17px;
  background-image: url("../img/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.header-reg {
  width: 150px;
  text-align: center;
}

.header-enter:hover,
.header-enter:focus,
.header-reg:hover,
.header-reg:focus {
  color: #ee3643;
}

.header-enter:hover::before,
.header-enter:focus::before {
  background-image: url("../img/icon-login-hover.svg");
}

.header-enter:active,
.header-reg:active {
  color: rgba(0, 0, 0, 0.3);
}

.header-enter:active::before {
  background-image: url("../img/icon-login.svg");
}

.header-navigation {
  width: 100%;
  margin-top: 40px;
  padding-left: 22px;
  padding-right: 23px;
  border-bottom: 5px solid #293449;
  color: #ffffff;
  background-color: #32425c;
}

.header-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navigation-list li {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.header-navigation-item {
  display: block;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  box-sizing: border-box;
  width: 100%;
  padding: 19px 15px;
  font-size: 17px;
  line-height: 17px;
  text-align: center;
}

.header-navigation-item:hover,
.header-navigation-item:focus {
  background-color: #293449;
}

.header-navigation-item:not([href]):hover,
.header-navigation-item:not([href]):focus,
.header-navigation-item:not([href]):active {
  background-color: #32425c;
  color: #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.header-navigation-item:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
  -webkit-box-shadow: 0 5px 0 0 #1d2739;
  box-shadow: 0 5px 0 0 #1d2739;
}

.header-cart-full {
  background-color: #ee3643;
}

.header-cart-full:hover,
.header-cart-full:focus {
  background-color: #ca2c37;
}

.header-cart-full:active {
  background-color: #ba2732;
}

.header-person-name {
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 255px;
  margin-bottom: 3px;
  padding-left: 48px;
  padding-right: 15px;
}

.header-person-name:active {
  color: rgba(0, 0, 0, 0.3)
}

.header-person-name::before {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 18px;
  background-image: url("../img/icon-user.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
}

.header-person-name:hover::before,
.header-person-name:focus::before {
  background-image: url("../img/icon-user-hover.svg");
}

.header-person-name:active::before {
  background-image: url("../img/icon-user.svg");
}

.header-person-exit {
  display: block;
  width: 45px;
  height: 45px;
  background-color: #ffffff;
  background-image: url("../img/icon-logout.svg");
  background-repeat: no-repeat;
  background-position: 14px 14px;
}

.header-person-exit:hover,
.header-person-exit:hover {
  background-image: url("../img/icon-logout-hover.svg");
}

.header-person-exit:active {
  background-image: url("../img/icon-logout.svg");
}

.header-person-order,
.header-person-cabinet {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.header-person-cabinet {
  position: relative;
  margin-right: 70px;
  padding-left: 33px;
}

.header-person-cabinet::before {
  position: absolute;
  top: 6px;
  left: 14px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #32425c;
  content: "";
}

.header-person-data:hover,
.header-person-data:focus {
  color: #ee3643;
}

.header-person-data:active {
  color: rgba(50, 66, 92, 0.3);
}

.main-container {
  margin-bottom: 85px;
}

.promo {
  margin-bottom: 53px;
  color: #ffffff;
}

.promo-offers {
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo-goods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;
}

.promo-block {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  padding-top: 20px;
  padding-bottom: 21px;
  padding-left: 22px;
}

.promo-heading {
  margin: 0;
  margin-bottom: 13px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

.promo-link {
  width: 135px;
  margin: 0;
  margin-left: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.promo-link:hover,
.promo-link:focus {
  background-color: rgba(0, 0, 0, 0.2);
}

.promo-link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-materials {
  position: relative;
  background-color: #ffbf47;
  background-image: url("../img/promo-icon-1.svg");
  background-repeat: no-repeat;
  background-position: 213px 50%;
  overflow: hidden;
}

.promo-offers+.new-tip::after {
  top: 0px;
  left: 50px;
}

.promo-tool {
  background-color: #3bbce3;
  background-image: url("../img/promo-icon-2.svg");
  background-repeat: no-repeat;
  background-position: 197px 50%;
}

.promo-equipment {
  background-color: #dc91d8;
  background-image: url("../img/promo-icon-3.svg");
  background-repeat: no-repeat;
  background-position: 191px 50%;
}

.promo-slideshow {
  position: relative;
  width: 620px;
}

.promo-slideshow-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #c6beb7;
}

.promo-slideshow-item {
  display: none;
}

.promo-slideshow-heading {
  position: absolute;
  top: 25px;
  left: 24px;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.promo-description {
  position: absolute;
  top: 62px;
  left: 24px;
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.promo-slideshow-list img {
  display: block;
}

.promo-slider-link {
  position: absolute;
  top: 208px;
  left: 27px;
  width: 195px;
}

.promo-slider-id-list {
  position: absolute;
  top: 220px;
  left: 50%;
  margin-left: -15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-slider-id {
  display: inline-block;
  box-sizing: border-box;
  width: 10px;
  height: 10px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: #ffffff;
}

.promo-slider-id-active {
  background-color: #ee3643;
}

.promo-back {
  position: absolute;
  top: 122px;
  left: 31px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  border: none;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transform: rotate(-45deg);
  background-color: transparent;
}

.promo-forward {
  position: absolute;
  top: 122px;
  left: 567px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 26px;
  height: 26px;
  margin: 0;
  padding: 0;
  border: none;
  border-top: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  transform: rotate(135deg);
  background-color: transparent;
}

.promo-discount {
  margin-bottom: 20px;
  background-color: #8ed78f;
  background-image: url("../img/promo-icon-4.svg");
  background-repeat: no-repeat;
  background-position: 196px 50%;
}

.promo-delivery {
  background-color: #ffc047;
  background-image: url("../img/promo-icon-5.svg");
  background-repeat: no-repeat;
  background-position: 191px 50%;
}

.popular {
  margin-bottom: -30px;
}

.products-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
  list-style: none;
}

.products-item {
  position: relative;
  width: 218px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
  text-align: center;
}

.products-item:hover,
.products-item:focus {
  -webkit-box-shadow: 0 0 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 0 25px 0 rgba(41, 52, 73, 0.5);
}

.products-item:hover img,
.products-item:focus img {
  display: none;
}

.products-item:hover>a {
  display: block;
}

.products-list-catalogue .products-item:nth-child(3n),
.products-list-index .products-item:nth-child(4n) {
  margin-right: 0;
}

.products-about {
  margin: 0;
  margin-bottom: 12px;
}

.products-about img {
  margin-bottom: 4px;
}

.products-name,
.products-price-old,
.products-price-new {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
}

.products-name {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  line-height: 20px;
}

.products-price-old {
  display: block;
  margin-bottom: 10px;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
}

.products-price-new {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 20px;
  margin-left: 42px;
  padding: 10px 15px;
  padding-left: 30px;
  width: 122px;
  font-size: 17px;
  border-radius: 2px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
}

.products-price-new::after {
  position: absolute;
  top: 0px;
  left: 122px;
  border-left: 19px solid #ee3643;
  border-right: none;
  border-top: 19px solid transparent;
  border-bottom: 19px solid transparent;
  content: "";
}

.products-about+.products-price-new {
  margin-top: 40px;
}

.vendors {
  margin-bottom: 65px;
}

.vendors-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.vendors-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 145px;
  margin-bottom: 20px;
  padding: 23px 9px;
  padding-bottom: 24px;
  border: 1px solid #e5e5e5;
}

.vendors-item img {
  margin: auto;
}

.vendors-item:hover,
.vendors-item:focus {
  border: none;
  -webkit-box-shadow: 0 5px 25px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 5px 25px 0 rgba(41, 52, 73, 0.5);
}

.vendors-item:active {
  -webkit-box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
  box-shadow: 0 4px 10px 0 rgba(41, 52, 73, 0.5);
}

.vendors-item:active img {
  opacity: 0.3;
}

.services {
  margin-bottom: 80px;
  padding-top: 65px;
  background-color: #f4f8f9;
}

.services-description {
  width: 400px;
  margin-bottom: 68px;
}

.services-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.services-list,
.services-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.services-menu {
  position: relative;
  width: 240px;
}

.services-menu::after {
  position: absolute;
  top: -43px;
  left: 230px;
  width: 10px;
  height: 272px;
  background-image: url("../img/services-shadow.png");
  background-repeat: no-repeat;
  background-position: right;
  content: "";
}

.services-menu-item {
  display: block;
  padding-top: 13px;
  padding-bottom: 17px;
  padding-left: 23px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449
}

.services-menu-item:hover,
.services-menu-item:focus {
  color: #ffffff;
  background-color: #293449;
  border-top: 1px solid #293449;
  border-bottom: 1px solid #293449;
}

.services-menu-item-current,
.services-menu-item-current:hover,
.services-menu-item-current:focus,
.services-menu-item-current:active {
  background-color: #ffffff;
  color: #32425c;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}

.services-list {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 700px;
  padding-left: 80px;
}

.services-subtitle {
  margin: 0;
  margin-bottom: 25px;
  margin-top: -2px;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
}

.services-detail {
  display: none;
  min-height: 284px;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.services-delivery {
  background-image: url("../img/services-delivery.png");
}

.services-delivery .services-specification {
  width: 275px;
}

.services-warranty {
  background-image: url("../img/services-warranty.png");
}

.services-warranty .services-specification {
  width: 380px;
}

.services-credit {
  background-image: url("../img/services-credit.png");
}

.services-credit .services-specification {
  width: 300px;
  margin-bottom: 25px;
}

.services-credit {


}

.services-button {
  width: 195px;
}

.about {
  width: 540px;
}

.about p:first-of-type {
  margin-bottom: 24px;
}

.about p:last-of-type {
  margin-bottom: 21px;
  width: 400px;
}

.about-transport {
  margin: 0;
  margin-bottom: 37px;
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.about-transport li {
  position: relative;
  margin-bottom: 20px;
}

.about-transport li::before {
  position: absolute;
  top: 10px;
  left: -36px;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
  content: "";
}

.about-more {
  width: 220px;
}

.contacts {
  width: 300px;
}

.contacts-description {
  width: 180px;
  margin-bottom: 30px;
}

.contacts-map {
  display: block;
  margin-bottom: 38px;
  background-color: #f4f2ed;
}

.contacts-write {
  width: 100%;
  margin-top: auto;
}

.breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 21px 0;
  padding-top: 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  list-style: none;
}

.breadcrumbs-item {
  position: relative;
  padding-left: 40px;
}

.breadcrumbs-item:hover,
.breadcrumbs-item:focus {
  color: #ee3643;
}

.breadcrumbs-item:active {
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs-item:not(.breadcrumbs-home)::before {
  position: absolute;
  top: 4px;
  left: 15px;
  width: 8px;
  height: 8px;
  border-right: 1px solid #c1c6ce;
  border-bottom: 1px solid #c1c6ce;
  transform: rotate(-45deg);
  content: "";
}

.breadcrumbs-home {
  display: block;
  width: 14px;
  height: 12px;
  padding-left: 0;
  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
}

.catalogue-heading {
  width: 910px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 29px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: #32425c;
  text-transform: uppercase;
  background-color: #f2f6f8;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 60px;
  font-family: "PT Sans", "Arial", sans-serif;
}

.strainers {
  width: 220px;
  margin-right: 20px;
}

.products-strainers {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.strainers-heading {
  margin: 0;
  margin-bottom: 11px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.strainers-group {
  margin: 0;
  margin-bottom: 17px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.products-strainers .strainers-group:last-of-type {
  border: none;
  margin-bottom: 58px;
}

.strainers-name {
  margin-bottom: 14px;
  line-height: 30px;
  font-weight: 700;
}

.range {
  position: relative;
  margin-bottom: 9px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  width: 180px;
  height: 41px;
  background-color: #f7f3ec;
  border-radius: 2px;
}

.scale {
  height: 2px;
  background-color: #d7dcde;
}

.bar {
  width: 84%;
  height: 2px;
  background-color: #00ca74;
}

.range-toggle {
  position: absolute;
  top: 30px;
  left: 0;
  width: 20px;
  height: 23px;
  padding: 0;
  background-color: #b1b1b1;
  border: none;
  border-radius: 50%;
  background-image: url("../img/filter-button.svg");
}

.range-toggle-min {
  left: 18px;
}

.range-toggle-max {
  left: 160px;
}

.filters-price-min,
.filters-price-max {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 95px;
  margin: 0;
  margin-bottom: 23px;
  padding: 10px;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  background-color: #f7f3ec;
  border-radius: 1px;
  border: none;
}

.range-dash {
  position: relative;
  left: 95px;
  font-size: 0;
  background-color: #ffff00;
}

.range-dash::after {
  position: absolute;
  top: -7px;
  left: 10px;
  width: 10px;
  height: 1px;
  background-color: #444444;
  content: "";
}

.filters-price-min {
  margin-right: 25px;
  margin-left: -3px;
}

.strainers-name-list {
  margin: 0;
  margin-bottom: 21px;
  padding: 0;
  list-style: none;
}

.filter {
  position: relative;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 20px;
}

.filter-label {
  padding-left: 35px;
}

.strainers-name-list [type="checkbox"]+label::before {
  position: absolute;
  top: -3px;
  left: 0px;
  content: "";
  width: 27px;
  height: 23px;
  background-image: url("../img/filters-checkbox-off.svg");
  background-repeat: no-repeat;
}

.strainers-name-list [type="checkbox"]+label:hover::before,
.strainers-name-list [type="checkbox"]+label:focus::before {
  background-image: url("../img/filters-checkbox-off-hover.svg");
}

.strainers-name-list [type="checkbox"]:checked+label::before {
  background-image: url("../img/filters-checkbox-on.svg");
}

.strainers-name-list [type="checkbox"]:checked+label:hover::before,
.strainers-name-list [type="checkbox"]:checked+label:focus::before {
  background-image: url("../img/filters-checkbox-on-hover.svg");
}

.strainers-name-list [type="checkbox"]:disabled+label::before,
.strainers-name-list [type="checkbox"]:disabled+label,
.strainers-name-list [type="checkbox"]:checked:disabled+label::before {
  opacity: 0.3;
}

.strainers-name-list [type="radio"]+label::before {
  position: absolute;
  top: -3px;
  left: 0px;
  content: "";
  width: 25px;
  height: 25px;
  background-image: url("../img/filters-radio-off.svg");
  background-repeat: no-repeat;
}

.strainers-name-list [type="radio"]+label:hover::before,
.strainers-name-list [type="radio"]+label:focus::before {
  background-image: url("../img/filters-radio-off-hover.svg");
}

.strainers-name-list [type="radio"]:checked+label::before {
  background-image: url("../img/filters-radio-on.svg");
}

.strainers-name-list [type="radio"]:checked+label:hover::before,
.strainers-name-list [type="radio"]:checked+label:focus::before {
  background-image: url("../img/filters-radio-on-hover.svg");
}

.strainers-name-list [type="radio"]:disabled+label::before,
.strainers-name-list [type="radio"]:disabled+label,
.strainers-name-list [type="radio"]:checked:disabled+label::before {
  opacity: 0.3;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  padding-top: 9px;
  padding-bottom: 9px;
  background-color: #f7f3ec;
}

.sorting-heading {
  width: 202px;
  margin: 0;
  margin-right: 20px;
  padding-left: 18px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
   -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
  justify-content: space-between;
  width: 380px;
  list-style: none;
  margin: 0;
  margin-right: 10px;
  padding: 0;
}

.sorting-item {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgb(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}

.sorting-price {
  /*margin-right: 71px;*/
  margin-right: 21px;
}

.sorting-type {
  /*margin-right: 65px;*/
  margin-right: 15px;
}

.sorting-item-current {
  color: #ee3643;
  text-decoration: none;
}

.sorting-item:hover,
.sorting-item:focus {
  color: #000000;
  text-decoration-style: solid;
}

.sorting-dir {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.sorting-dir-up,
.sorting-dir-down {
  position: relative;
  margin: 0;
  padding-left: 35px;
}

.sorting-dir-up::before {
  position: absolute;
  top: 7px;
  left: 9px;
  border-bottom: 10px solid #ee3643;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
}

.sorting-dir-down::before {
  position: absolute;
  top: 7px;
  left: 7px;
  border-top: 10px solid #c5c5c5;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  content: "";
}

.sorting-dir-up:hover::before,
.sorting-dir-up:focus::before {
  border-bottom-color: #231f20;
}

.sorting-dir-down:hover::before,
.sorting-dir-down:hover::before {
  border-top-color: #231f20;
}

.products-list-catalogue {
  width: 700px;
  font-family: "Cuprum", "Arial", sans-serif;
}

.products-button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 9px 15px;
  border: 1px solid #e5e5e5;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: transparent;
  border-radius: 2px;
}

.products-button:hover,
.products-button:focus {
  border-color: #bdc6ca;
}

.products-button:active {
  border-color: #ee3643;
}

.filter-button {
  width: 140px;
  outline: none;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination-item {
  display: block;
  margin-right: 10px;
}

.pagination-next {
  display: block;
  width: 140px;
}

.pagination-item-current,
.pagination-item-current:hover,
.pagination-item-current:active {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.description {
  padding-top: 65px;
  padding-bottom: 69px;
  background-color: #f2f6f8;
}

.description-heading {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.description p {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.footer-top {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;
  background-color: #32425c;
}

.footer-top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-logo {
  display: block;
  width: 220px;
  height: 63px;
  margin-bottom: 28px;
  background-color: #ee3643;
  border-bottom: 5px solid #b52933;
  background-image: url("../img/logo-technomart-footer.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.footer-contacts {
  width: 330px;
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  padding-left: 3px;
}

.footer-company,
.footer-products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 550px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-company {
  margin-top: 38px;
}

.footer-company li,
.footer-products li {
  margin-left: 59px;
}

.footer-company li:first-child,
.footer-products li:first-child {
  margin-left: 0;
}

.footer-products a {
  color: #ffd180;
}

.footer-company a:hover,
.footer-company a:focus,
.footer-products a:hover,
.footer-products a:focus {
  text-decoration: underline;
}

.footer-company a:active {
  color: rgb(241, 245, 247, 0.5);
}

.footer-company a:not([href]):hover,
.footer-company a:not([href]):focus,
.footer-products a:not([href]):active {
  color: #f1f5f7;
  text-decoration: none;
}

.footer-products a:active {
  color: rgb(255, 209, 128, 0.5);
}

.footer-bottom {
  padding-top: 38px;
  padding-bottom: 33px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-bottom p:first-child {
  width: 240px;
  margin: 0;
  margin-right: 150px;
  padding: 0;
}

.footer-social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 130px;
  margin: 0;
  margin-top: -3px;
  margin-right: 120px;
  padding: 0;
  list-style: none;
}

.footer-social {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer-vk {
  background-image: url("../img/icon-vk.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.footer-fb {
  background-image: url("../img/icon-fb.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.footer-ig {
  background-image: url("../img/icon-insta.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.footer-social:hover,
.footer-social:focus,
.footer-social:active {
  background-color: #ee3643;
}

.footer-bottom p:nth-of-type(2) {
  margin: 0;
  width: 140px;
}

.footer-bottom p:nth-of-type(3) {
  margin: 0;
  width: 112px;
}

.footer-bottom p:last-child {
  margin-left: auto;
}

.footer-link {
  color: #ffd180;
}

.footer-link:hover,
.footer-link:focus {
  text-decoration: underline;
}

.footer-link:active {
  color: #ee3643;
  text-decoration: none;
}

.modal {
  position: fixed;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;
  width: 25px;
  height: 25px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 3px;
  width: 25px;
  height: 3px;
  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.feedback {
  display: none;
  top: 80px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
}

.modal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-top: 7px solid #ee3643;
  padding-top: 47px;
  padding-left: 80px;
  padding-right: 80px;
  background-color: #ffffff;
}

.modal-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 37px 80px;
  background-color: #f4f4f4;
}

.modal-feedback-form label:nth-child(1),
.modal-feedback-form label:nth-child(2) {
  width: 220px;
  margin-bottom: 20px;
}

.modal-feedback-form label:nth-child(2) {
  margin-left: auto;
}

.feedback-field {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 220px;
  height: 38px;
  margin-top: 10px;
  padding: 8px 15px;
  border: 2px solid #d7dcde;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  outline: none;
  border-radius: 2px;
}

.feedback-field::placeholder {
  color: #999999;
}

.feedback-field:hover,
.feedback-field:focus {
  border: 2px solid #b5b5b5;
}

.feedback-field:active {
  border: 2px solid #ee3643;
}

.modal-feedback-form textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 460px;
  height: 115px;
  margin-bottom: 32px;
  padding-top: 8px;
}

.feedback-button {
  width: 100%;
}

.modal-map {
  display: none;
  top: 120px;
  left: 50%;
  margin-left: -470px;
  width: 940px;
}

.map-modal-close {
  z-index: 3;
}

.modal-map img {
  display: block;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
  background-color: #b8dcfe;
}

.modal-map iframe {
  display: block;
  position: relative;
  z-index: 2;

  border: none;
}

.cart {
  display: none;
  top: 120px;
  left: 50%;
  width: 620px;
  margin-left: -310px;
}

.cart-heading {
  position: relative;
  margin-top: 18px;
  margin-bottom: 66px;
  padding-left: 98px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
}

.cart-heading::before {
  position: absolute;
  top: -16px;
  left: 0px;
  width: 66px;
  height: 66px;
  background-color: #63a63e;
  border-radius: 50%;
  content: "";
}

.cart-heading::after {
  position: absolute;
  top: 4px;
  left: 20px;
  width: 26px;
  height: 14px;
  border-left: 7px solid #ffffff;
  border-bottom: 7px solid #ffffff;
  transform: rotate(-45deg);
  z-index: 10;
  content: "";
}

.cart-order {
  width: 220px;
}

.cart-go-on {
  width: 220px;
  margin-left: auto;
  background-color: #ffffff;
  color: #000000;
}

.hide {
  display: none;
}

.reveal {
  display: block;
}

.reveal-bounce {
  display: block;
  animation: bounce 0.6s;
}

.reveal-expand {
  display: block;
  animation: expand 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes expand {
  0% {
    transform: scale(0.6);
  }
  100%{
  transform: scale(1);
  }
}
